// color scheme
$White: #FFF;
$Platinum: #E8E8E8;
$Gray: #BABABA;
$Dark-salmon: #EE9480;
$Melons: #F4BAAE;
$Pale-pink: #FADFDA;
$Ball-blue: #2AB7CA;
$Middle-blue: #77D1DD;
$Blue-lagoon: #B1E4EB;
$Onyx: #333745;
$Spanish-gray: #8F9199;
$Lavander-gray: #C7C8CC;
$Raising-black: #221D23;
$Nickel: #726f73;
$Sliver-chalice: #AEACAF;

// typography

   // font sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

    // components


